NoinoiRobot/config.py
NoinoiRobot/*.session
NoinoiRobot/*.session-journal
NoinoiRobot/config.ini
log.txt
*.pyc
.idea/
.project
.pydevproject
.directory
.vscode
NoinoiRobot/modules/helper_funcs/temp.txt
NoinoiRobot/elevated_users.json
start-3.9.bat
*.session
kangsticker.png
venv
env
NoinoiRobot.session-journal
updates.txt
*.exe
